nav.navbar
  div.container
    .row
      .col-xs-12.col-sm-8.col-md-6
        .logo
          a.logo__img(href='#')
            img.img-responsive.visible-xs(src='img/logo/logo320.png' alt='logo')
            img.img-responsive.hidden-xs(src='img/logo/logo.png' alt='logo')
          .logo__text Магазин умных приставок
            br 
            | для телевизоров    
      .col-xs-12.col-sm-5.col-md-3
        .phone
          a.phone__link(href="tel:+380673843732") 
            i.fa.fa-phone(aria-hidden="true")
            | +38 (067) 384 37 32   
      .col-xs-12.col-sm-4.col-md-3.navbar__col
        button.btn.button.navbar__button(data-toggle="modal" data-target="#nav__modal") заказать звонок    