@charset "UTF-8";
/* ---------------------------------------- */
/* P R E L O A D E R    S T Y L E S         */
/* ---------------------------------------- */
.loaded #loading {
  display: block;
}

#loading {
  position: fixed;
  display: none;
  background-color: #4ec5bb;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  top: 0px;
  z-index: 9999;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.object {
  -webkit-border-radius: 50% 50% 50% 50%;
          border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  border-right: 5px solid transparent;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes animate {
  50% {
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}

@keyframes animate {
  50% {
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}

/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.eot");
  src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.33;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: none;
}

[dir="rtl"] .slick-prev:before {
  content: none;
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: none;
}

[dir="rtl"] .slick-next:before {
  content: none;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 0.33;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #eee;
  opacity: 1;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
a:hover, a:focus {
  text-decoration: none;
}

.help-block {
  padding: 0;
  margin: 0;
}

.button {
  display: block;
  margin: 0 auto;
  font: 700 11px/16px "HelveticaNeueCyr-Bold", sans-serif;
  padding: 17px 20px;
  text-transform: uppercase;
  color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#56c5ae), to(#61ddd6));
  background-image: -webkit-linear-gradient(bottom, #56c5ae 0%, #61ddd6 100%);
  background-image: linear-gradient(to top, #56c5ae 0%, #61ddd6 100%);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.3);
  border: 0;
}

.button:hover, .button:focus {
  color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1bb192), to(#2ad1c7));
  background-image: -webkit-linear-gradient(bottom, #1bb192 0%, #2ad1c7 100%);
  background-image: linear-gradient(to top, #1bb192 0%, #2ad1c7 100%);
  -webkit-box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.16);
          box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.16);
  color: #fff;
}

.button--size {
  width: 100%;
  position: relative;
}

.button--ripple-in {
  position: relative;
}

.button--ripple-in:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: .7;
  -webkit-animation: ripple-in 3s infinite;
          animation: ripple-in 3s infinite;
}

@media only screen and (min-width: 768px) {
  .button {
    font: 700 18px/20px "HelveticaNeueCyr-Bold", sans-serif;
  }
}

.heading {
  font: 700 18px/24px "HelveticaNeueCyr-Bold", sans-serif;
  color: #383a47;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.heading--color {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .heading {
    font: 700 24px/28px "HelveticaNeueCyr-Bold", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .heading {
    font: 700 28px/30px "HelveticaNeueCyr-Bold", sans-serif;
  }
}

.form__input {
  padding: 22px 20px 20px 45px;
  color: rgba(30, 22, 15, 0.5);
  font: 400 18px/20px "HelveticaNeueCyr-Medium", sans-serif;
  background-color: #fff;
  border: 1px solid #66afe9;
}

.form__input:focus {
  color: #1e160f;
}

.form__input:focus ~ .fa {
  color: #1e160f;
}

.form-group {
  position: relative;
}

.form-group .fa {
  position: absolute;
  left: 30px;
  top: 23px;
  color: rgba(30, 22, 15, 0.5);
  font-size: 18px;
}

.modal__small {
  width: 290px;
  margin: 30px auto;
}

.modal__middle {
  margin: 0;
  padding: 85px 25px;
  background: url(../img/middlebg.png) no-repeat;
  background-size: cover;
}

.modal__big {
  width: 100%;
  margin: 30px auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
}

.modal__content {
  position: relative;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 25px 15px 10px;
}

.modal__content--middle {
  background-color: #f8f8f8;
  border: 3px dashed #383a47;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.21);
          box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.21);
  padding: 70px 10px 30px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  text-shadow: none;
  color: #383a47;
}

.modal__close:hover {
  color: #4ac3b8;
  opacity: 1;
}

.modal__close--middle {
  top: -65px;
  right: -15px;
  color: #fff;
}

.modal__heading {
  font: 700 16px/24px "HelveticaNeueCyr-Bold", sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 25px;
}

.modal__heading--span {
  color: #20bba3;
}

.modal__heading--middle {
  font: 700 18px/24px "HelveticaNeueCyr-Bold", sans-serif;
  color: #070f2a;
}

.modal__text {
  font: 400 16px/24px "HelveticaNeueCyr-Medium", sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.modal__btn {
  white-space: normal;
}

.modal__subtext {
  font: 400 12px/16px "HelveticaNeueCyr-Medium", sans-serif;
  margin-top: 20px;
  color: #383a47;
}

.modal__subtext .fa {
  margin-right: 5px;
}

.modal__icon {
  text-align: center;
  margin-bottom: 40px;
}

.modal__icon img {
  display: inline-block;
}

.modal__ttx {
  padding: 0 10px;
}

.modal__img {
  position: absolute;
}

.modal__img--1 {
  display: inline-block;
  background: url(../img/middleic.png) no-repeat;
  background-size: contain;
  height: 72px;
  width: 110px;
  top: -35px;
  right: -20px;
}

.modal__img--2 {
  display: inline-block;
  background: url(../img/middlearrow.png) no-repeat;
  background-size: contain;
  height: 49px;
  width: 146px;
  top: 20px;
  left: 50%;
  margin-left: -73px;
}

.modal__img--3 {
  display: inline-block;
  background: url(../img/middletv.png) no-repeat;
  background-size: contain;
  height: 110px;
  width: 200px;
  bottom: -80px;
  left: -10px;
}

@media only screen and (min-width: 768px) {
  .modal__small {
    width: 360px;
  }
  .modal__middle {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 150px;
  }
  .modal__big {
    width: 750px;
    margin: 40px auto 30px;
  }
  .modal__heading {
    font: 700 18px/24px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .modal__heading--big {
    padding-left: 75px;
    padding-right: 75px;
  }
  .modal__heading--middle {
    font: 700 26px/30px "HelveticaNeueCyr-Bold", sans-serif;
    margin-bottom: 60px;
  }
  .modal__text {
    font: 400 18px/24px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .modal__text--big {
    padding-left: 70px;
    padding-right: 70px;
  }
  .modal__ttx {
    padding: 0;
  }
  .modal__img--1 {
    width: 219px;
    height: 145px;
    top: -50px;
  }
  .modal__img--2 {
    top: 100px;
    left: 75%;
  }
  .modal__img--3 {
    width: 356px;
    height: 188px;
    bottom: -150px;
  }
}

@media only screen and (min-width: 992px) {
  .modal__content--middle {
    width: 750px;
    margin: 0 auto;
  }
}

@-webkit-keyframes ripple-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  2% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  3% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  21% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  22% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  98% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes ripple-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  2% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  3% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  21% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  22% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.3;
  }
  98% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  99% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* N A V    S T Y L E                       */
/* ---------------------------------------- */
.navbar {
  padding-top: 30px;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.navbar__button {
  font: 700 14px/16px "HelveticaNeueCyr-Bold", sans-serif;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo__img {
  display: inline-block;
  margin: 5px 5px 10px 0;
}

.logo__text {
  display: inline-block;
  vertical-align: top;
  font: 400 13px/16px "HelveticaNeueCyr-Medium", sans-serif;
  color: #000;
  text-align: left;
}

.phone {
  text-align: center;
  margin-bottom: 25px;
}

.phone__link {
  font: 400 17px/18px "HelveticaNeueCyr-Medium", sans-serif;
  color: #010101;
}

.phone .fa {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    margin-bottom: 0;
  }
  .navbar__col {
    float: right;
  }
  .logo {
    text-align: left;
    margin-bottom: 15px;
  }
  .logo__img {
    margin: 0 30px 0 0;
  }
  .navbar {
    padding-top: 20px;
  }
  .logo__img {
    margin-right: 30px;
  }
  .logo__text {
    font: 400 16px/20px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .phone {
    margin-top: 20px;
    text-align: left;
  }
  .phone__link {
    font: 400 20px/21px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .phone {
    text-align: center;
  }
}

/* ---------------------------------------- */
/* H E A D E R    S T Y L E                 */
/* ---------------------------------------- */
.header {
  padding: 100px 0 30px;
  background: #20bba3 url(../img/headerbg.jpg) no-repeat;
  background-size: cover;
  background-position: left top;
}

.header__text {
  font: 400 16px/24px "HelveticaNeueCyr-Medium", sans-serif;
  text-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.21);
  color: #fff;
  margin-bottom: 45px;
}

.header__text--span {
  display: inline;
  font: 700 16px/24px "HelveticaNeueCyr-Bold", sans-serif;
  margin: 0;
}

.header__col {
  text-align: center;
}

.header__image {
  position: relative;
  top: 50px;
  margin-left: -25px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 35px 0 45px;
    background-size: cover;
    background-position: 50% top;
  }
  .header__col {
    text-align: left;
  }
  .header__text {
    font: 400 20px/40px "HelveticaNeueCyr-Medium", sans-serif;
    margin-bottom: 40px;
  }
  .header__text--span {
    font: 700 20px/40px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .header__image {
    top: 130px;
    left: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    padding: 60px 0 30px;
    background-position: 50% top;
  }
  .header__text {
    font: 400 30px/48px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .header__text--span {
    font: 700 30px/48px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .header__image {
    top: 280px;
    left: 0;
    margin-top: -100px;
  }
}

/* ---------------------------------------- */
/* W O R K    S T Y L E                     */
/* ---------------------------------------- */
.work {
  position: relative;
  padding: 50px 0;
}

.work__heading {
  margin-bottom: 80px;
}

.work__subheading {
  position: absolute;
  top: 90px;
  width: 100%;
  margin: 0;
  text-align: center;
  opacity: 0.6;
  filter: alpha(opactiy=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  color: #dfdfdf;
  font: 700 44px/50px "HelveticaNeueCyr-Bold", sans-serif;
}

.work__image {
  text-align: center;
  margin-bottom: 45px;
}

.work__img {
  display: none;
  visibility: hidden;
}

.work__img--320 {
  display: inline-block;
  visibility: visible;
}

.work-box {
  border-bottom: 2px solid #4ac3b8;
  margin-bottom: 20px;
  padding: 15px 0;
}

.work-box__img {
  text-align: center;
  margin: 0 auto;
  max-width: 66px;
}

.work-box__img img {
  display: inline-block;
}

.work-box__content {
  line-height: 62px;
  font-size: 0;
}

.work-box__text {
  display: inline-block;
  vertical-align: middle;
  font: 700 14px/16px "HelveticaNeueCyr-Bold", sans-serif;
  color: #000;
  margin-bottom: 0;
}

.work-box__text--span {
  color: #4ec5bb;
}

.work-box__text--right {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .work__heading {
    margin-bottom: 45px;
  }
  .work__subheading {
    font: 700 100px/110px "HelveticaNeueCyr-Bold", sans-serif;
    top: 120px;
  }
  .work__image {
    margin-bottom: 55px;
  }
  .work__img {
    display: none;
    visibility: hidden;
  }
  .work__img--768 {
    display: inline-block;
    visibility: visible;
  }
  .work__item {
    padding-right: 30px;
  }
  .work__item--right {
    padding-left: 30px;
    padding-right: 15px;
  }
  .work-box {
    margin-bottom: 55px;
  }
  .work-box__img {
    max-width: 80px;
  }
  .work-box__content {
    line-height: 74px;
  }
}

@media only screen and (min-width: 992px) {
  .work__col {
    position: relative;
  }
  .work__heading {
    margin-bottom: 60px;
  }
  .work__subheading {
    font: 700 150px/160px "HelveticaNeueCyr-Bold", sans-serif;
    top: 90px;
  }
  .work__image {
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    margin-left: -229px;
  }
  .work__img {
    display: none;
    visibility: hidden;
  }
  .work__img--1200 {
    display: inline-block;
    visibility: visible;
  }
  .work__item {
    margin: 1px;
  }
  .work__item--right {
    float: right;
  }
  .work-box {
    padding: 30px 0 20px;
    margin-bottom: 130px;
  }
}

@media only screen and (min-width: 1200px) {
  .work__subheading {
    font: 700 180px/190px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .work-box__text {
    font: 700 18px/17px "HelveticaNeueCyr-Bold", sans-serif;
  }
}

/* ---------------------------------------- */
/* O P P O R T U N I T Y    S T Y L E       */
/* ---------------------------------------- */
.opportunity__heading {
  margin-bottom: 60px;
}

.opportunity__image {
  text-align: center;
  margin-bottom: 30px;
}

.opportunity__image img {
  display: inline-block;
}

.opportunity__title {
  font: 700 16px/20px "HelveticaNeueCyr-Bold", sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.opportunity__text {
  font: 400 16px/20px "HelveticaNeueCyr-Medium", sans-serif;
  color: #000;
  margin-bottom: 60px;
}

.opportunity__button {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .opportunity {
    background: url(../img/opportunitybg.png) no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    padding: 0 0 50px;
  }
  .opportunity__col {
    float: right;
  }
  .opportunity__title {
    font: 700 20px/30px "HelveticaNeueCyr-Bold", sans-serif;
    margin-bottom: 35px;
  }
  .opportunity__text {
    font: 400 20px/30px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .opportunity__button {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .opportunity {
    padding-top: 50px;
  }
  .opportunity__title {
    font: 700 24px/30px "HelveticaNeueCyr-Bold", sans-serif;
    margin-bottom: 25px;
  }
  .opportunity__text {
    font: 400 22px/30px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

/* ---------------------------------------- */
/* S E R V I C E    S T Y L E               */
/* ---------------------------------------- */
.service {
  padding: 65px 0 30px;
  background: url(../img/servicebg320.png) no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -10px;
}

.service__heading {
  margin-bottom: 25px;
}

.service__img {
  margin-bottom: 30px;
}

.service__text {
  font: 400 16px/20px "HelveticaNeueCyr-Light", sans-serif;
  color: #fff;
  margin-bottom: 40px;
}

.service__subtext {
  font: 400 11px/16px "HelveticaNeueCyr-Medium", sans-serif;
  color: #fff;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .service {
    background: url(../img/servicebg1200.png) no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .service__heading {
    margin-bottom: 40px;
  }
  .service__text {
    font: 400 20px/24px "HelveticaNeueCyr-Light", sans-serif;
  }
  .service__subtext {
    font: 400 14px/18px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .service {
    margin-top: -20px;
  }
  .service__text {
    font: 400 29px/32px "HelveticaNeueCyr-Light", sans-serif;
  }
}

@media only screen and (min-width: 1200px) {
  .service {
    margin-top: -40px;
  }
}

@media only screen and (min-width: 1366px) {
  .service {
    margin-top: -52px;
  }
}

/* ---------------------------------------- */
/* P R O B L E M    S T Y L E               */
/* ---------------------------------------- */
.problem {
  padding: 60px 0 60px;
  background: url(../img/problembg.png) no-repeat;
  background-size: cover;
}

.problem__content {
  background-color: rgba(255, 255, 255, 0.77);
  -webkit-box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.26);
          box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.26);
  padding: 30px 0 10px;
}

.issue {
  padding: 20px 15px;
}

.issue__content--right {
  text-align: right;
}

.issue__heading {
  font: 700 12px/24px "HelveticaNeueCyr-Black", sans-serif;
  margin: 0 0 10px;
  color: #4ec5bb;
  text-transform: uppercase;
}

.issue__text {
  font: 400 12px/24px "HelveticaNeueCyr-Medium", sans-serif;
  margin: 0;
  color: #000;
}

.issue__icon {
  text-align: center;
  margin-right: -25px;
}

.issue__icon img {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .problem__content {
    position: relative;
  }
  .problem__content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    margin-left: -1px;
    background-color: rgba(56, 58, 71, 0.21);
  }
  .issue__col {
    float: right;
  }
  .issue__icon {
    margin: 0 -5px;
  }
  .issue__heading {
    font: 700 16px/36px "HelveticaNeueCyr-Black", sans-serif;
  }
  .issue__text {
    font: 400 16px/30px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .issue__heading {
    font: 700 18px/36px "HelveticaNeueCyr-Black", sans-serif;
  }
  .issue__text {
    font: 400 20px/30px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

/* ------------------------------------------ */
/* C O N S O L E    S L I D E R    S T Y L E  */
/* ------------------------------------------ */
.console {
  padding: 50px 0;
}

.console-slider {
  border: 1px solid #d7d7d7;
  margin-bottom: 40px;
}

.console-slider__item {
  position: relative;
}

.console-slider__link {
  display: block;
  padding: 40px 15px 10px;
  text-align: center;
}

.console-slider__link:hover .console-slider__zoom {
  color: #20bba3;
}

.console-slider__link img {
  display: inline-block;
}

.console-slider__zoom {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 28px;
  cursor: pointer;
  color: #000;
}

.console-slider-preview {
  margin-bottom: 40px;
}

.console-slider-preview__item {
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
}

.console-slider-preview__item img {
  display: inline-block;
}

.console-slider-preview .slick-current img {
  -webkit-box-shadow: 0px 0px 0px 2px #464646;
          box-shadow: 0px 0px 0px 2px #464646;
}

.console-slider-preview .slick-arrow {
  width: 16px;
  height: 22px;
}

.console-slider-preview .slick-arrow:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #2e303e;
  font-size: 22px;
}

.console-slider-preview .slick-arrow:hover:before {
  color: #111217;
}

.console-slider-preview .slick-prev:before {
  content: '\f053';
}

.console-slider-preview .slick-next:before {
  content: '\f054';
}

.fancybox-prev {
  left: -15px;
  bottom: -15px;
  top: auto;
}

.fancybox-next {
  right: -15px;
  bottom: -15px;
  top: auto;
}

@media only screen and (min-width: 992px) {
  .console-slider-preview {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .console__col {
    float: right;
  }
  .fancybox-prev {
    left: -65px;
    bottom: auto;
    top: 50%;
    margin-top: -25px;
  }
  .fancybox-next {
    right: -65px;
    bottom: auto;
    top: 50%;
    margin-top: -25px;
  }
}

/* ----------------------------------------- */
/* C H A R A C T E R I S T I C    S T Y L E  */
/* ----------------------------------------- */
.characteristic__heading {
  margin: 0 0 35px;
  font: 400 18px/24px "HelveticaNeueCyr-Medium", sans-serif;
  color: #000;
}

.characteristic__heading--span {
  font: 700 18px/24px "HelveticaNeueCyr-Black", sans-serif;
  color: #20bba3;
}

.characteristic__price {
  font: 700 18px/24px "HelveticaNeueCyr-Black", sans-serif;
  color: #000;
  margin-bottom: 30px;
}

.table__heading {
  font: 400 18px/24px "HelveticaNeueCyr-Medium", sans-serif;
  text-transform: uppercase;
  color: #5f5f5f;
  margin-bottom: 10px;
}

.table__heading .fa {
  font-size: 20px;
  margin-right: 10px;
}

.table__row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 0 10px;
}

.table__row--heading {
  background-color: #20bba3;
}

.table__text {
  font: 400 17px/20px "HelveticaNeueCyr-Medium", sans-serif;
  color: #000;
  margin: 0;
}

.table__text--heading {
  color: #fff;
}

.table__link {
  font: 400 16px/20px "HelveticaNeueCyr-Medium", sans-serif;
  color: #5f5f5f;
  text-decoration: underline;
  cursor: pointer;
}

.table__link:hover, .table__link:focus {
  color: #20bba3;
  text-decoration: underline;
  -webkit-text-decoration-color: #20bba3 !important;
          text-decoration-color: #20bba3 !important;
}

.table__btn {
  margin: 20px 0;
}

.way__icon {
  display: block;
  margin: 10px auto 0;
  width: 48px;
  height: 35px;
  background: url(../img/icons/car.png) no-repeat;
  background-size: contain;
}

.way__text {
  font: 400 13px/18px "HelveticaNeueCyr-Medium", sans-serif;
  color: #000;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .way__text {
    font: 400 18px/24px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

/* ---------------------------------------- */
/* Q U E S T I O N    S T Y L E             */
/* ---------------------------------------- */
.question {
  padding: 50px 0;
  background: url(../img/questionbg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -10px;
}

.question__heading {
  margin-bottom: 50px;
}

.question__text {
  font: 400 16px/20px "HelveticaNeueCyr-Light", sans-serif;
  color: #fff;
  margin-bottom: 25px;
}

.question__subtext {
  font: 400 16px/20px "HelveticaNeueCyr-Medium", sans-serif;
  color: #fff;
  margin-bottom: 30px;
}

.question__radio-group {
  position: relative;
  margin-bottom: 25px;
}

.question__radio-ic {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0px;
  top: -12px;
}

.question__radio-ic--1 {
  background: url(../img/icons/radio1.png) no-repeat;
  background-size: contain;
}

.question__radio-ic--2 {
  background: url(../img/icons/radio2.png) no-repeat;
  background-size: contain;
}

.radio-btn__text {
  display: inline-block;
  padding-left: 50px;
}

.radio-btn__control {
  display: none;
}

.radio-btn__control:checked + .radio-btn__box .radio-btn__icon {
  border: 2px solid #fff;
}

.radio-btn__control:checked + .radio-btn__box .radio-btn__icon:before {
  position: absolute;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 33px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 18px;
  text-align: center;
  left: 0;
  top: 0;
}

.radio-btn__box--check {
  display: block;
  color: #fff;
  font: 400 14px/18px "HelveticaNeueCyr-Medium", sans-serif;
  text-align: left;
}

.radio-btn__icon {
  float: right;
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-top: -5px;
  background-color: transparent;
  border: 2px solid #fff;
}

@media only screen and (min-width: 768px) {
  .question__text {
    font: 400 26px/32px "HelveticaNeueCyr-Light", sans-serif;
  }
  .question__subtext {
    font: 400 20px/24px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .question__btn {
    padding: 21px 20px;
  }
  .question__radio-group {
    margin-bottom: 55px;
  }
  .question__radio-ic {
    height: 45px;
    width: 45px;
  }
  .radio-btn__box--check {
    font: 400 20px/24px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .question__text {
    font: 400 30px/36px "HelveticaNeueCyr-Light", sans-serif;
  }
  .question__subtext {
    font: 400 24px/28px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

/* ---------------------------------------- */
/* V I D E O    S T Y L E                   */
/* ---------------------------------------- */
.video {
  padding: 55px 0 70px;
  background: url(../img/videobg.png) no-repeat;
  background-size: cover;
}

.video__heading {
  margin-bottom: 35px;
}

.video__iframe {
  height: 160px;
  width: 100%;
}

.video-preview {
  bottom: 200px;
  left: -135px;
  z-index: 50;
  display: none;
}

.video-preview__content {
  position: relative;
  width: 162px;
}

.video-preview__close {
  position: absolute;
  top: -15px;
  left: 310px;
  cursor: pointer;
  color: #383a47;
}

.video-preview__close:hover {
  color: #20bba3;
}

.video-preview__link {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  width: 162px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 19px 0 rgba(50, 50, 50, 0.2);
          box-shadow: 0 0 19px 0 rgba(50, 50, 50, 0.2);
  cursor: pointer;
  position: absolute;
  left: 150px;
  z-index: 25;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  outline: none;
}

.video-preview__link:hover {
  -webkit-box-shadow: 0 0 30px 0 #20bba3;
          box-shadow: 0 0 30px 0 #20bba3;
}

.video-preview__text {
  font: 400 14px/18px "HelveticaNeueCyr-Medium", sans-serif;
  color: #383a47;
  padding: 10px 15px;
  text-align: center;
  text-decoration: underline;
}

.video-preview__image {
  background: url(../img/icons/videopreview.png) no-repeat;
  width: 162px;
  height: 91px;
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
}

@media only screen and (min-width: 768px) {
  .video__iframe {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .video__iframe {
    height: 460px;
  }
}

/* ---------------------------------------- */
/* P A R T    S T Y L E                     */
/* ---------------------------------------- */
.part {
  padding: 50px 0;
}

.part__heading {
  margin-bottom: 30px;
}

.element__image {
  text-align: center;
  margin-bottom: 25px;
}

.element__image img {
  display: inline-block;
}

.element__text {
  font: 400 18px/24px "HelveticaNeueCyr-Medium", sans-serif;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.element__number {
  font: 400 100px/100px "HelveticaNeueCyr-Bold", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .part {
    padding: 70px 0;
  }
  .part__heading {
    margin-bottom: 40px;
  }
  .element__image {
    margin-bottom: 35px;
  }
  .element__text {
    font: 400 20px/24px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .element__number {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .part__heading {
    margin-bottom: 50px;
  }
  .element__text {
    font: 400 22px/26px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

/* ---------------------------------------- */
/* S T A T S    S T Y L E                   */
/* ---------------------------------------- */
.stats {
  padding: 50px 0;
  background-color: #f3f3f3;
}

.stats__heading {
  margin-bottom: 35px;
}

.graph__content {
  position: relative;
  text-align: center;
}

.graph__image {
  margin: 0 auto;
}

.point {
  display: block;
  position: absolute;
}

.point__text {
  font: 400 14px/18px "HelveticaNeueCyr-Medium", sans-serif;
  color: #383a47;
  text-align: left;
  margin: 0;
}

.point__text--span {
  font: 700 18px/20px "HelveticaNeueCyr-Bold", sans-serif;
}

.point--1 {
  width: 55%;
  top: 25px;
  left: 45%;
}

.point--2 {
  width: 55%;
  left: 0;
  top: 200px;
}

.point--3 {
  width: 48%;
  top: 290px;
  left: 54%;
}

.point--4 {
  width: 54%;
  left: 0;
  top: 400px;
}

.point--5 {
  width: 60%;
  left: 0;
  top: 600px;
}

@media only screen and (min-width: 768px) {
  .stats {
    padding: 65px 0 160px;
  }
  .point__text {
    font: 400 16px/18px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .point__text--span {
    font: 700 25px/30px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .point--1 {
    width: 200px;
    left: 50px;
    top: 400px;
  }
  .point--2 {
    width: 228px;
    left: 30px;
    top: 80px;
  }
  .point--3 {
    width: 260px;
    top: 300px;
    left: 320px;
  }
  .point--4 {
    width: 240px;
    left: 300px;
    top: 40px;
  }
  .point--5 {
    width: 260px;
    left: 475px;
    top: 150px;
  }
}

@media only screen and (min-width: 992px) {
  .point__text {
    font: 400 18px/24px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .point__text--span {
    font: 700 36px/40px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .point--1 {
    width: 270px;
    left: 100px;
    top: 400px;
  }
  .point--2 {
    width: 280px;
    left: 20px;
    top: 90px;
  }
  .point--3 {
    width: 300px;
    top: 305px;
    left: 370px;
  }
  .point--4 {
    width: 280px;
    left: 300px;
    top: 30px;
  }
  .point--5 {
    width: 310px;
    left: 550px;
    top: 160px;
  }
}

@media only screen and (min-width: 1200px) {
  .point--1 {
    top: 470px;
    left: 130px;
  }
  .point--2 {
    left: 40px;
    top: 110px;
  }
  .point--3 {
    top: 350px;
    left: 475px;
  }
  .point--4 {
    left: 340px;
    top: 65px;
  }
  .point--5 {
    width: 400px;
    left: 650px;
    top: 190px;
  }
}

/* ---------------------------------------- */
/* C O N N E C T    S T Y L E               */
/* ---------------------------------------- */
.connect {
  padding: 60px 0 40px;
  background: url(../img/connectbg.png) no-repeat;
  background-size: cover;
}

.connect__container {
  background: rgba(255, 255, 255, 0.77);
  padding-top: 25px;
  padding-bottom: 25px;
}

.connect__heading {
  margin-bottom: 25px;
}

.connect__list {
  padding-left: 0;
}

.connect__item {
  font: 400 16px/24px "HelveticaNeueCyr-Medium", sans-serif;
  list-style-type: none;
  color: #000;
  margin-bottom: 20px;
}

.connect__item:before {
  content: '\f00c';
  color: #000;
  display: inline-block;
  font-family: 'FontAwesome';
  margin-right: 5px;
}

.connect__icon {
  text-align: center;
  margin-bottom: 15px;
}

.connect__icon--2 {
  margin-top: 15px;
}

.connect__icon img {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .connect__heading {
    text-align: left;
    line-height: 70px;
    margin-bottom: 45px;
  }
  .connect__col {
    float: right;
  }
  .connect__item {
    font: 400 22px/24px "HelveticaNeueCyr-Medium", sans-serif;
    margin-bottom: 25px;
  }
  .connect__icon--2 {
    padding-top: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .connect__icon--1 {
    text-align: right;
  }
  .connect__icon--2 {
    padding-top: 0;
  }
}

/* ---------------------------------------- */
/* C O M M E N T    S T Y L E               */
/* ---------------------------------------- */
.comment {
  padding: 50px 0 150px;
}

.comment__heading {
  margin-bottom: 30px;
  text-align: left;
}

.comment__item {
  padding: 15px;
}

.comment__content {
  position: relative;
  background-color: #383a47;
  -webkit-box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.13);
          box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.13);
  padding: 20px 10px 50px;
  margin-bottom: 142px;
}

.comment__content:before {
  content: '\f10d';
  display: inline-block;
  position: absolute;
  left: 0;
  top: -20px;
  color: #4ab8af;
  font-size: 30px;
  font-family: "FontAwesome";
}

.comment__text {
  font: 400 15px/20px "HelveticaNeueCyr-Light", sans-serif;
  text-align: center;
  color: #fff;
}

.comment__author {
  position: absolute;
  width: 164px;
  left: 50%;
  margin-left: -82px;
  bottom: -140px;
}

.comment__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: rgba(74, 195, 184, 0.9);
  padding: 10px 0;
}

.comment__subtext {
  font: 400 12px/16px "HelveticaNeueCyr-Medium", sans-serif;
  color: #fff;
  margin-bottom: 5px;
}

.comment__slider .slick-arrow {
  width: 16px;
  height: 22px;
  top: 30%;
}

.comment__slider .slick-arrow:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #2e303e;
  font-size: 22px;
}

.comment__slider .slick-arrow:hover:before {
  color: #111217;
}

.comment__slider .slick-prev:before {
  content: '\f053';
}

.comment__slider .slick-next:before {
  content: '\f054';
}

@media only screen and (min-width: 768px) {
  .comment__content {
    margin-bottom: 160px;
    padding: 20px 20px 50px;
  }
  .comment__text {
    font: 400 20px/30px "HelveticaNeueCyr-Light", sans-serif;
  }
  .comment__author {
    width: 200px;
    left: auto;
    right: 0;
    bottom: -160px;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .comment__item {
    padding-right: 130px;
  }
  .comment__author {
    left: auto;
    right: 0;
    margin-right: -130px;
  }
}

/* ---------------------------------------- */
/* B O N U S    S T Y L E                   */
/* ---------------------------------------- */
.bonus {
  position: relative;
  padding: 45px 0 50px;
  background-color: #f8f8f8;
}

.bonus:before {
  display: block;
  content: '';
  position: absolute;
  height: 598px;
  width: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2a9680), to(#2ad1c7));
  background-image: -webkit-linear-gradient(bottom, #2a9680 0%, #2ad1c7 100%);
  background-image: linear-gradient(to top, #2a9680 0%, #2ad1c7 100%);
}

.bonus__heading {
  margin-bottom: 45px;
}

.bonus__info {
  font: 400 16px/24px "HelveticaNeueCyr-Medium", sans-serif;
  color: #000;
  margin: 50px 0;
  text-align: center;
}

.bonus__text {
  font: 400 16px/36px "HelveticaNeueCyr-Light", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.bonus__text--span {
  font: 700 16px/36px "HelveticaNeueCyr-Bold", sans-serif;
  text-transform: uppercase;
}

.bonus__image {
  text-align: center;
}

.bonus__image img {
  display: inline-block;
}

.bonus__content {
  padding-bottom: 50px;
}

.bonus__btn {
  white-space: normal;
}

@media only screen and (min-width: 768px) {
  .bonus:before {
    height: 567px;
    width: 100%;
  }
  .bonus__heading {
    margin-bottom: 55px;
  }
  .bonus__btn {
    font: 700 14px/24px "HelveticaNeueCyr-Medium", sans-serif;
  }
  .bonus__text {
    font: 400 24px/36px "HelveticaNeueCyr-Light", sans-serif;
  }
  .bonus__text--span {
    font: 700 24px/36px "HelveticaNeueCyr-Bold", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .bonus {
    padding-bottom: 35px;
  }
  .bonus:before {
    height: 100%;
    width: 50%;
  }
  .bonus__info {
    margin: 20px 0 70px;
  }
  .bonus__content {
    padding-bottom: 0;
  }
  .bonus__btn {
    margin-top: 35px;
  }
}

/* ---------------------------------------- */
/* M A P    S T Y L E                       */
/* ---------------------------------------- */
.map {
  position: relative;
  padding: 65px 0 0;
  height: 600px;
}

.map__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.map__content {
  background: rgba(56, 58, 71, 0.85);
  padding: 45px 0 20px;
}

.map__icon {
  position: relative;
  background-color: rgba(74, 195, 184, 0.6);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  height: 100px;
  width: 100px;
  margin: 0 auto 40px;
}

.map__icon .fa {
  font-size: 36px;
  line-height: 96px;
  color: #fff;
}

.map__icon:before {
  content: '';
  position: absolute;
  left: -14px;
  top: -14px;
  display: block;
  height: 128px;
  width: 128px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
}

.map__text {
  font: 400 18px/36px "HelveticaNeueCyr-Light", sans-serif;
  text-align: center;
  color: #fff;
}

.map__text .fa {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .map {
    padding-top: 103px;
  }
  .map__text {
    font: 400 20px/36px "HelveticaNeueCyr-Light", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .map__content {
    padding: 45px 25px 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .map__text {
    font: 400 22px/36px "HelveticaNeueCyr-Light", sans-serif;
  }
}

/* ---------------------------------------- */
/* F O O T E R    S T Y L E                 */
/* ---------------------------------------- */
.footer {
  padding: 25px 0;
  background-color: #383a47;
}

.footer__text {
  font: 400 12px/20px "HelveticaNeueCyr-Medium", sans-serif;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer__text {
    font: 400 16px/20px "HelveticaNeueCyr-Medium", sans-serif;
  }
}

/* ---------------------------------------- */
/* S U C E S S    P A G E    S T Y L E      */
/* ---------------------------------------- */
.success {
  background: url(../img/tybg.png) no-repeat;
  background-size: cover;
}

.success__navbar {
  margin: 0;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 25px;
}

.success__content {
  position: relative;
  padding: 100px 0 40px;
  overflow: hidden;
}

.success__content:before {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -270px;
  display: block;
  content: '';
  height: 540px;
  width: 540px;
  background-color: rgba(18, 132, 122, 0.75);
  -webkit-box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.success__text {
  font: 700 16px/20px "HelveticaNeueCyr-Bold", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.success__text--color {
  color: #383a47;
}

.success__video {
  height: 164px;
}

.success__iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 420px) {
  .success__content:before {
    height: 700px;
    width: 700px;
    margin-left: -350px;
  }
  .success__text {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 600px) {
  .success__content:before {
    top: 0;
    height: 840px;
    width: 840px;
    margin-left: -420px;
  }
}

@media only screen and (min-width: 768px) {
  .success__text {
    font: 700 22px/28px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .success__video {
    height: 270px;
  }
}

/* ---------------------------------------- */
/* O T O    P A G E    S T Y L E            */
/* ---------------------------------------- */
.oto {
  background: url(../img/tybg.png) no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.oto__heading {
  font: 700 16px/20px "HelveticaNeueCyr-Bold", sans-serif;
  color: #383a47;
  text-align: center;
  margin-bottom: 40px;
}

.oto__video {
  position: relative;
  height: 176px;
  width: 290px;
  margin: 0 auto 30px;
  background: url(../img/mac.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.oto__iframe {
  position: absolute;
  z-index: 20;
  left: 34px;
  height: 140px;
  width: 224px;
  top: 10px;
}

.oto__btn {
  white-space: normal;
}

.oto__modal {
  background: rgba(56, 58, 71, 0.7);
  padding: 30px 15px 15px;
}

.oto__text {
  color: #fff;
}

@media only screen and (min-width: 400px) {
  .oto__video {
    width: 350px;
    height: 250px;
  }
  .oto__iframe {
    left: 40px;
    height: 166px;
    width: 270px;
    top: 32px;
  }
}

@media only screen and (min-width: 600px) {
  .oto__video {
    width: 450px;
    height: 300px;
  }
  .oto__iframe {
    left: 54px;
    height: 218px;
    width: 344px;
    top: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .oto__heading {
    font: 700 24px/28px "HelveticaNeueCyr-Bold", sans-serif;
  }
  .oto__modal {
    padding: 40px 35px 20px;
  }
  .oto__video {
    height: 350px;
    width: auto;
  }
  .oto__iframe {
    left: 138px;
    height: 280px;
    width: 446px;
    top: 19px;
  }
}

@media only screen and (min-width: 992px) {
  .oto__video {
    margin-bottom: 0;
    height: 380px;
  }
  .oto__iframe {
    left: 65px;
    height: 256px;
    width: 407px;
    top: 47px;
  }
}

@media only screen and (min-width: 1200px) {
  .oto__iframe {
    left: 66px;
    height: 268px;
    width: 424px;
    top: 40px;
  }
}
