- var page = {}
- var hostname = "" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.ico",
          appleTouchIcon: "apple-touch-icon.png",
          description: "",
          keywords: "",
          openGraph: {
            title: "ATLAS - умные приставки для телевизора",
            siteName: "ATLAS - умные приставки для телевизора",
            description: "Умная приставка ATLAS для телевизора позволяет смотреть телеканалы, фильмы и сериалы в HD качестве без абонплаты",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "ATLAS - умные приставки для телевизора",
            description: "Умная приставка ATLAS для телевизора позволяет смотреть телеканалы, фильмы и сериалы в HD качестве без абонплаты",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        navbar: {
          logo: {
            img: {
              lg: "img/logo/logo.png",
              xs: "img/logo/logo320.png",
              alt: "logo"
            },
            link: "/",
            text: "Магазин умных приставок <br />для телевизоров"
          },
          phone: {
            name: "+38 (067) 384 37 32",
            link: "tel:+380673843732"
          }
        },
        header: {
          text: {
            p: "Сделай заказ сегодня и уже завтра твой телевизор станет мощным SmartTV всего за 1960грн",
            span: "всего за 1960грн"
          },

          image: {
            link: "img/headerimg1200.png",
            alt: "Приставка"
          }
        },
        video: {
          link: {
            overview: "https://www.youtube.com/embed/2gqHfZyEYmE"
          }
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "ATLAS - умные приставки для телевизора",
        h1: "Умная приставка ATLAS для телевизора позволяет смотреть телеканалы, фильмы и&nbsp;сериалы в&nbsp;HD качестве без абонплаты",
      }, //- index
      magnet: {
        hostname: "magnet.html",
        title: "ATLAS - умные приставки для телевизора",
        h1: "Умная приставка ATLAS для телевизора позволяет смотреть телеканалы, фильмы и&nbsp;сериалы в&nbsp;HD качестве без абонплаты",
        header: {
          text: {
            p: "Узнай 17&nbsp;новых функций, которые получит твой телевизор благодаря приставке!"
          },
        }
      }, //- magnet
      magnetb: {
        hostname: "magnetb.html",
        title: "ATLAS - умные приставки для телевизора",
        h1: "Ваш телевизор получит 17&nbsp;новых функций благодаря приставке ATLAS! Фильмы и&nbsp;сериалы в&nbsp;HD, телевидение без абонплаты, доступ в&nbsp;интернет и&nbsp;многое другое!",
        header: {
          text: {
            p: "Получи бесплатный PDF файл, где перечислены все 17&nbsp;функций для вашего ТВ!",
            span: "Жми на&nbsp;кнопку!"
          }
        }
      }, //- magnetb
      magnetc: {
        hostname: "magnetc.html",
        title: "ATLAS - умные приставки для телевизора",
        h1: "Ваш телевизор станет лучше, чем любой Smart TV! Приставка ATLAS открывает 17&nbsp;новых функций для вашего&nbsp;ТВ!",
        header: {
          text: {
            p: "Посмотрите все возможности приставки в&nbsp;бесплатном PDF файле!",
            span: "Жми на&nbsp;кнопку!"
          }
        }
      }, //- magnetc
      magnetd: {
        hostname: "magnetd.html",
        title: "ATLAS - умные приставки для телевизора",
        h1: "Прокачай свой телевизор с&nbsp;помощью приставки ATLAS! Фильмы и&nbsp;сериалы в&nbsp;HD качестве, 600 телеканалов без абонплаты и&nbsp;ещё 14&nbsp;возможностей!",
        header: {
          text: {
            p: "Посмотри полный список функций в&nbsp;бесплатном файле!",
            span: "Жми на&nbsp;кнопку!"
          }
        }
      }, //- magnetd
      oto: {
        hostname: "oto.html",
        title: "ATLAS - умные приставки для телевизора",
        h1: "Умная приставка ATLAS для телевизора позволяет смотреть телеканалы, фильмы и&nbsp;сериалы в&nbsp;HD качестве без абонплаты",
        heading: "Статья “17 возможностей приставок ATLAS” придет тебе в течении нескольких минут. Посмотри видео, чтобы узнать какой подарок мы для тебя подготовили "
      }, //- oto
      success: {
        hostname: "success.html",
        title: "Ваша заявка принята",
        h1: "Умная приставка ATLAS для телевизора позволяет смотреть телеканалы, фильмы и&nbsp;сериалы в&nbsp;HD качестве без абонплаты",
        text: "Спасибо, что обратились к нам! Мы свяжемся с вами в ближайшее время! А пока, посмотрите видео о том, где смотреть фильмы и сериалы после закрытия FS"
      }, //- success
    }