section.comment
  .container
    .row
      .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
        h2.heading.comment__heading Отзывы клиентов
    .row
      .col-xs-10.col-xs-offset-1
        .comment__slider
          .comment__item
            .comment__content
              p.comment__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus consequatur consectetur est corporis laboriosam praesentium molestias sunt, vitae architecto aspernatur nulla culpa, officiis perferendis cumque, id laborum. Magni hic, quo.
              .comment__author
                img.img-responsive(src='img/comment1.jpg' alt='комментатор')
                .comment__name
                  p.comment__subtext Иван Иванович
                  p.comment__subtext Менеджер
          .comment__item
            .comment__content
              p.comment__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus consequatur consectetur est corporis laboriosam praesentium molestias sunt, vitae architecto aspernatur nulla culpa, officiis perferendis cumque, id laborum. Magni hic, quo.
              .comment__author
                img.img-responsive(src='img/comment1.jpg' alt='комментатор')
                .comment__name
                  p.comment__subtext Иван Иванович
                  p.comment__subtext Менеджер
          .comment__item 
            .comment__content
              p.comment__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus consequatur consectetur est corporis laboriosam praesentium molestias sunt, vitae architecto aspernatur nulla culpa, officiis perferendis cumque, id laborum. Magni hic, quo.
              .comment__author
                img.img-responsive(src='img/comment1.jpg' alt='комментатор')
                .comment__name
                  p.comment__subtext Иван Иванович
                  p.comment__subtext Менеджер