section.comment
  .container
    .row
      .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
        h2.heading.comment__heading Отзывы клиентов
    .row
      .col-xs-10.col-xs-offset-1
        .comment__slider
          .comment__item
            .comment__content
              p.comment__text Брал себе — отличный аппарат. После установки ТВ бокса про тарелку забыл. Установленный плейер всеядный. Так же ребята из Atlas предустановили много полезных ТВ програм, за что им огромное спасибо.
              .comment__author
                img.img-responsive(src='img/comment1.png' alt='комментатор')
                .comment__name
                  p.comment__subtext Олег
                  p.comment__subtext Черновцы
          .comment__item
            .comment__content
              p.comment__text Приобрел где-то полгода назад Atlas TV BOX II. Очень доволен. Установлена в 11 метрах от роутера. Идет без тормозов и очень качественно. Пробовал 1080, тоже без проблем. Отдельные слова благодарности хочу сказать в адрес владельца интернет-магазина. Очень внимателен и обязателен с покупателем. И главное, терпелив.
              .comment__author
                img.img-responsive(src='img/comment2.png' alt='комментатор')
                .comment__name
                  p.comment__subtext Юрий
                  p.comment__subtext Одесса
          .comment__item 
            .comment__content
              p.comment__text Купил для просмотра 4K Atlas Arena II, очень порадовала, без тормозов все идеально. Особенно понравилось что данный продукт раз в 3 месяца обновляется, это означает что его актуальность никогда не упадет и будет идти в ногу с временем. Советую всем, у кого хорошие телевизоры.
              .comment__author
                img.img-responsive(src='img/comment3.png' alt='комментатор')
                .comment__name
                  p.comment__subtext Денис
                  p.comment__subtext Харьков
          .comment__item 
            .comment__content
              p.comment__text Купив приставку Atlas, по телефону підібрали під мій телевізор — доставили менше ніж за добу (Київ-Львів). Все працює чудово. Повністю задоволений.
              .comment__author
                img.img-responsive(src='img/comment4.png' alt='комментатор')
                .comment__name
                  p.comment__subtext Андрей
                  p.comment__subtext Львов        