.console
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.col-lg-5
        .row
          .col-xs-12
            .console-slider
              .console-slider__item
                a.console-slider__link.fancyimage(data-fancybox-group='group1', href='img/consoleSlider3.jpg')
                  i.fa.fa-search-plus.console-slider__zoom(aria-hidden="true")
                  img.img-responsive(src='img/consoleSlider3.jpg' alt='приставка фото')
              .console-slider__item
                a.console-slider__link.fancyimage(data-fancybox-group='group1', href='img/consoleSlider1.jpg')
                  i.fa.fa-search-plus.console-slider__zoom(aria-hidden="true")
                  img.img-responsive(src='img/consoleSlider1.jpg' alt='приставка фото')
              .console-slider__item
                a.console-slider__link.fancyimage(data-fancybox-group='group1', href='img/consoleSlider2.jpg')
                  i.fa.fa-search-plus.console-slider__zoom(aria-hidden="true")
                  img.img-responsive(src='img/consoleSlider2.jpg' alt='приставка фото')
          .col-xs-10.col-xs-offset-1      
            .console-slider-preview
              .console-slider-preview__item
                img.img-responsive(src='img/consoleSliderSmall1.png' alt='приставка фото')
              .console-slider-preview__item
                img.img-responsive(src='img/consoleSliderSmall2.png' alt='приставка фото')
              .console-slider-preview__item
                img.img-responsive(src='img/consoleSliderSmall3.png' alt='приставка фото')
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.console__col
        .row
          .col-xs-12
            .console__characteristic.characteristic
              h3.characteristic__heading Приставка 
                span.characteristic__heading--span ATLAS BOX PRO
              p.characteristic__price 1960 грн
              .characteristic__table.table
                .table__heading 
                  i.fa.fa-cog(aria-hidden="true")
                  | Общие характеристики 
                .row.table__row.table__row--1
                  .col-xs-12.col-sm-6
                    p.table__text Операционная система: 
                  .col-xs-12.col-sm-6
                    p.table__text Android 6.0 Marshmallow
                .row.table__row
                  .col-xs-12.col-sm-6
                    p.table__text Тип корпуса: 
                  .col-xs-12.col-sm-6
                    p.table__text матовый, акриловая панель
                .row.table__row
                  .col-xs-12.col-sm-6
                    p.table__text Антенна Wi-Fi:
                  .col-xs-12.col-sm-6
                    p.table__text внутренняя
                .row.table__row
                  .col-xs-12.col-sm-6
                    p.table__text Wi-Fi:
                  .col-xs-12.col-sm-6
                    p.table__text 2.4Гц 802.11 b/g/n/
                .row.table__row
                  .col-xs-12.col-sm-6
                    p.table__text LAN: 
                  .col-xs-12.col-sm-6
                    p.table__text 10/100M Base-T
                .row.table__row
                  .col-xs-12.col-sm-6
                    p.table__text Bluetooth:
                  .col-xs-12.col-sm-6
                    p.table__text 4.0                    
              a.table__link(data-toggle="modal" data-target="#characteristic__modal") Полный список характеристик
          .col-xs-12.col-sm-10 
            button.btn.button.button--size.table__btn(data-toggle="modal" data-target="#console__modal") ДА! Я ХОЧУ ПРИСТАВКУ!
          .col-xs-12.col-sm-10
            .table__way.way
              .row
                .col-xs-3
                  i.way__icon
                .col-xs-9   
                  p.way__text Товар в наличии и готов к отправке!
                    br
                    | Доставим завтра при заказе до 14:00