section.connect
  .container.connect__container
    .row
      .col-xs-12.col-sm-2.col-md-3
        .connect__icon.connect__icon--1
          img.img-responsive(src='img/icons/connect.png' alt='картинка')
      .col-xs-12.col-sm-10.col-md-9
        h2.heading.connect__heading Легкость подключения приставки
    .row
      .col-xs-12.col-sm-7.connect__col
        ul.connect__list   
          li.connect__item Подключите к приставке кабель с блоком питания, и вставьте штекер в розетку
          li.connect__item С помощью HDMI кабеля соедините приставку и ваш телевизор 
          li.connect__item Включите приставку, смените источник трансляции (SOURCE) на ТВ
          li.connect__item Подключитесь к вашей сети интернет (wifi или через кабель) и пользуйтесь приставкой
      .col-xs-8.col-xs-offset-2.col-sm-5.col-sm-offset-0    
       .connect__icon.connect__icon--2
          img.img-responsive(src='img/icons/connect2.png' alt='картинка')