header.header
  .container
    .row
      .col-xs-7
        .header__text 
          h1.header__text--span Умная приставка ATLAS 
          | для телевизоров позволит смотреть более 
          span.header__text--span 600 телеканалов, 
          | фильмы и сериалы в 
          span.header__text--span HD качестве 
          | без абонплаты!
      .col-xs-5.col-sm-4
        .header__image
          img.img-responsive(src='img/headerimg1200.png' alt='приставка')    
      .col-xs-12.col-sm-7.header__col
        .header__text Сделай заказ сегодня и уже завтра твой телевизор станет мощным SmartTV. 
          span.header__text--span всего за 1960грн  
    .row      
      .col-xs-12.col-sm-8.col-md-6.col-lg-5    
        button.btn.button.button--size(data-toggle="modal" data-target="#header__modal") узнайте все возможности приставки  