#magnet__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading.modal__heading--big Приставка ATLAS BOX PRO откроет 17 новых возможностей вашему телевизору!
        p.modal__text.modal__text--big Полный список функций мы перечислили в бесплатном PDF файле. Укажите свой email и телефон, чтобы мы могли отправить вам этот файл на почту
      form.contactForm.modal__form(method='post', action='./mail/mail.php')
        .row
          .col-xs-12.col-sm-5
            .modal__icon
              img.img-responsive(src='img/modalimg.png' alt='книга') 
          .col-xs-12.col-sm-7
            form.contactForm.modal__form(method='post', action='./mail/mail.php', novalidate)
              .row
                .col-xs-12.col-sm-10.col-sm-offset-1
                  .row
                    .form-group.col-xs-12
                      input.form-control.form__input.form__name(aria-invalid='false', placeholder='Введите ваш email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='email')
                      i.fa.fa-envelope(aria-hidden="true")
                      p.help-block.text-danger
                    .clearfix
                      .success
                .col-xs-12    
                  .text-center
                    button.btn.button.button--size.modal__btn(name='form[Магнит - Хедер]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить список 17 возможностей приставки
                    p.modal__subtext 
                      i.fa.fa-lock(aria-hidden="true")
                      | Гарантируем полную конфиденциальность ваших данных                       
#sibassaMagnet__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__middle
    .modal-content.modal__content.modal__content--middle
      .modal__img.modal__img--1
      .modal__img.modal__img--2
      .modal__img.modal__img--3
      button.close.modal__close.modal__close--middle(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading.modal__heading--middle Бесплатный тест-драйв приставки!
        p.modal__text Оставьте заявку прямо сейчас и уже завтра к вам приедет наш мастер, чтобы продемонстрировать работу приставки на вашем телевизоре! Вы лично увидите как она работает и протестируете все функции. Укажите свой номер телефона, чтобы мы вам позвонили и договорились о проведении демонстрации!
      form.contactForm.modal__form(method='post', action='./mail/mail.php')
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2
            form.contactForm.modal__form(method='post', action='./mail/mail.php', novalidate)
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                  .row
                    .form-group.col-xs-12
                      input.form-control.form__input.form__name(aria-invalid='false', placeholder='Введите ваш email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='email')
                      i.fa.fa-envelope(aria-hidden="true")
                      p.help-block.text-danger
                    .clearfix
                      .success
                .col-xs-12    
                  .text-center
                    button.btn.button.button--size.modal__btn(name='form[Магнит - Выход с сайта]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить бесплатный тест-драйв приставки
                    p.modal__subtext 
                      i.fa.fa-lock(aria-hidden="true")
                      | Гарантируем полную конфиденциальность ваших данных                                                                                       