.map
  iframe.map__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5078.358658368667!2d30.504408565326113!3d50.47500514893289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce0d881943ef%3A0x48cf908aa46aea22!2z0LLRg9C70LjRhtGPINCe0LvQtdC90ZbQstGB0YzQutCwLCAzNNCQLCDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1490447832454" frameborder="0" style="border:0" allowfullscreen)
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0
        .map__content
          .row
            .col-xs-12.col-sm-5.col-md-4
              .map__icon
                i.fa.fa-home(aria-hidden="true")
            .col-xs-12.col-sm-7.col-md-8  
              .map__info
                p.map__text
                  i.fa.fa-clock-o(aria-hidden="true")
                  | Пн. - Пт : 10:00 - 22:00 
                  br 
                  | Сб: 10:00 - 17:00
              .map__info 
                p.map__text 
                  i.fa.fa-map-marker(aria-hidden="true")
                  | Киев, Еленовская 34 - А