#nav__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__small
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Введите ваш номер телефона, чтобы наш специалист вам перезвонил!
        p.modal__text В рабочее время мы перезваниваем в течении 2-4 минут
      form.contactForm.modal__form(method='post', action='./mail/mail.php')
        .row
          .col-xs-12
            form.contactForm.modal__form(method='post', action='./mail/mail.php', novalidate)
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-12.col-md-offset-0
                  .row
                    .form-group.col-xs-12
                      input.form-control.form__input.form__phone.form__input--phone(aria-invalid='false', placeholder='+38(___)___-__-__', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
                      i.fa.fa-phone(aria-hidden="true")
                      p.help-block.text-danger
                    .clearfix
                      .success
                .col-xs-12    
                  .text-center
                    button.btn.button.button--size(name='form[навбар]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") ПЕРЕЗВОНИТЕ МНЕ
                    p.modal__subtext 
                      i.fa.fa-lock(aria-hidden="true")
                      | Гарантируем полную конфиденциальность ваших данных
#header__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading.modal__heading--big Приставка ATLAS BOX PRO откроет 17 новых возможностей вашему телевизору!
        p.modal__text.modal__text--big Полный список функций мы перечислили в бесплатном PDF файле. Укажите свой email и телефон, чтобы мы могли отправить вам этот файл на почту
      .row
        .col-xs-12.col-sm-5
          .modal__icon
            img.img-responsive(src='img/modalimg.png' alt='книга') 
        .col-xs-12.col-sm-7
          #mauticform_wrapper_leadmagnit.mauticform_wrapper
            // Mautic form
            form#mauticform_leadmagnit(autocomplete='false', role='form', method='post', action='https://well-done.mautic.net/form/submit?formId=1', data-mautic-form='leadmagnit')
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
                  .row
                    .form-group.col-xs-12
                      #mauticform_leadmagnit_error.mauticform-error
                      #mauticform_leadmagnit_message.mauticform-message
                      .mauticform-innerform
                        .mauticform-page-wrapper.mauticform-page-1(data-mautic-form-page='1')
                          #mauticform_leadmagnit_email.mauticform-row.mauticform-email.mauticform-field-1
                            label#mauticform_label_leadmagnit_email.mauticform-label(for='mauticform_input_leadmagnit_email')
                            input#mauticform_input_leadmagnit_email.mauticform-input.form-control.form__input(name='mauticform[email]', value='', required='', placeholder='Введите ваш email', type='email')
                            i.fa.fa-envelope(aria-hidden='true')
                            span.mauticform-errormsg(style='display: none;')
                    .col-xs-12
                      #mauticform_leadmagnit_submit.mauticform-row.mauticform-button-wrapper.mauticform-field-2
                        button#mauticform_input_leadmagnit_submit.mauticform-button.btn.button.button--size.button--ripple-in(type='submit', name='mauticform[submit]', value='') Получить список 17 возможностей приставки
                  input#mauticform_leadmagnit_id(type='hidden', name='mauticform[formId]', value='1')
                  input#mauticform_leadmagnit_return(type='hidden', name='mauticform[return]', value='')
                  input#mauticform_leadmagnit_name(type='hidden', name='mauticform[formName]', value='leadmagnit')
#opportunity__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__text.modal__text--big Просмотр телевидения осуществляется через приложение Torrent Stream Controller (TSC). Оно бесплатное и заранее установлено на приставку. 
        p.modal__text.modal__text--big С помощью TSC вы получите доступ к 
          b более чем 600 каналам, 150 из которых в HD качестве. 
          | В этот список входят все самые необходимые каналы. Если вас интересует наличие конкретного телеканала - вы можете оставить заявку и менеджер проверит его наличие в приложении
      form.contactForm.modal__form(method='post', action='./mail/mail.php')
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2
            form.contactForm.modal__form(method='post', action='./mail/mail.php', novalidate)
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                  .row
                    .form-group.col-xs-12
                      input.form-control.form__input.form__phone.form__input--phone(aria-invalid='false', placeholder='+38(___)___-__-__', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
                      i.fa.fa-phone(aria-hidden="true")
                      p.help-block.text-danger
                    .clearfix
                      .success
                .col-xs-12    
                  .text-center
                    button.btn.button.button--size.modal__btn(name='form[Новые возможности]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Хочу узнать, есть ли мои любимые каналы в приложении
                    p.modal__subtext 
                      i.fa.fa-lock(aria-hidden="true")
                      | Гарантируем полную конфиденциальность ваших данных                                                     
#console__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__small
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Отлично! Эта приставка уже почти Ваша!
        p.modal__text Оставьте ваш номер телефона, чтобы мы вам перезвонили и оформили заказ (это займет менее 5 минут)
      form.contactForm.modal__form(method='post', action='./mail/mail.php')
        .row
          .col-xs-12
            form.contactForm.modal__form(method='post', action='./mail/mail.php', novalidate)
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-12.col-md-offset-0
                  .row
                    .form-group.col-xs-12
                      input.form-control.form__input.form__phone.form__input--phone(aria-invalid='false', placeholder='+38(___)___-__-__', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
                      i.fa.fa-phone(aria-hidden="true")
                      p.help-block.text-danger
                    .clearfix
                      .success
                .col-xs-12    
                  .text-center
                    button.btn.button.button--size(name='form[Приставка]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") ОФОРМИТЬ ЗАКАЗ
                    p.modal__subtext 
                      i.fa.fa-lock(aria-hidden="true")
                      | Гарантируем полную конфиденциальность ваших данных 
#characteristic__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Приставка  
          span.modal__heading--span ATLAS BOX PRO
      .modal__ttx
        .row   
          .col-xs-12.col-sm-10.col-sm-offset-1
            .characteristic__table.table
              .row.table__row.table__row--heading
                .col-xs-12
                  p.table__text.table__text--heading Общие характеристики
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Тип 
                .col-xs-12.col-sm-6
                  p.table__text Телеприставка
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Операционная система
                .col-xs-12.col-sm-6
                  p.table__text Android 6.0 Marshmallow
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Тип корпуса
                .col-xs-12.col-sm-6
                  p.table__text матовый, акриловая панель
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Антенна Wi-Fi
                .col-xs-12.col-sm-6
                  p.table__text внутренняя
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Wi-Fi
                .col-xs-12.col-sm-6
                  p.table__text 2.4Гц 802.11 b/g/n/
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text LAN
                .col-xs-12.col-sm-6
                  p.table__text 10/100M Base-T
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Bluetooth
                .col-xs-12.col-sm-6
                  p.table__text 4.0
              .row.table__row.table__row--heading
                .col-xs-12
                  p.table__text.table__text--heading Вывод изображения на экран
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Тип разьема аудио и видео
                .col-xs-12.col-sm-6
                  p.table__text HDMI
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Размер изображения
                .col-xs-12.col-sm-6
                  p.table__text 1920*1080 (Full-HD), 4K @ 60Hz H.265 
              .row.table__row.table__row--heading
                .col-xs-12
                  p.table__text.table__text--heading Память и процессор
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Процессор
                .col-xs-12.col-sm-6
                  p.table__text Amlogic S905X 
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Количество ядер процессора
                .col-xs-12.col-sm-6
                  p.table__text 4
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Видеопроцессор
                .col-xs-12.col-sm-6
                  p.table__text Mali-450
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Объем встроенной памяти
                .col-xs-12.col-sm-6
                  p.table__text 8 Гб
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Объем оперативной памяти
                .col-xs-12.col-sm-6
                  p.table__text DDR3 2 Гб
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Поддержка карт памяти
                .col-xs-12.col-sm-6
                  p.table__text microSD (TransFlash), объемом до 64 Гб
              .row.table__row.table__row--heading
                .col-xs-12
                  p.table__text.table__text--heading Разьемы и кнопки  
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Кнопка питания
                .col-xs-12.col-sm-6
                  p.table__text нет
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Кнопка перезагрузки
                .col-xs-12.col-sm-6
                  p.table__text нет
              .row.table__row 
                .col-xs-12.col-sm-6
                  p.table__text Порт USB 2.0
                .col-xs-12.col-sm-6
                  p.table__text есть (2шт)
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Порт USB 3.0
                .col-xs-12.col-sm-6
                  p.table__text нет     
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Слот MicroSD
                .col-xs-12.col-sm-6
                  p.table__text есть    
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text HDMI
                .col-xs-12.col-sm-6
                  p.table__text есть 
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Аудиовыход 3.5
                .col-xs-12.col-sm-6
                  p.table__text нет
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Кабель OTG
                .col-xs-12.col-sm-6
                  p.table__text нет
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Разьем питания
                .col-xs-12.col-sm-6
                  p.table__text есть
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Ethernet порт
                .col-xs-12.col-sm-6
                  p.table__text есть 
              .row.table__row.table__row--heading
                .col-xs-12
                  p.table__text.table__text--heading Комплект    
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text Блок питания
                .col-xs-12.col-sm-6
                  p.table__text есть (5V/2A)
              .row.table__row
                .col-xs-12.col-sm-6
                  p.table__text HDMI кабель
                .col-xs-12.col-sm-6
                  p.table__text есть                                                      
#sibassa__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__middle
    .modal-content.modal__content.modal__content--middle
      .modal__img.modal__img--1
      .modal__img.modal__img--2
      .modal__img.modal__img--3
      button.close.modal__close.modal__close--middle(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading.modal__heading--middle Бесплатный тест-драйв приставки!
        p.modal__text Оставьте заявку прямо сейчас и уже завтра к вам приедет наш мастер, чтобы продемонстрировать работу приставки на вашем телевизоре! Вы лично увидите как она работает и протестируете все функции. Укажите свой номер телефона, чтобы мы вам позвонили и договорились о проведении демонстрации!
      form.contactForm.modal__form(method='post', action='./mail/mail.php')
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2
            form.contactForm.modal__form(method='post', action='./mail/mail.php', novalidate)
              .row
                .col-xs-12.col-sm-8.col-sm-offset-2
                  .row
                    .form-group.col-xs-12
                      input.form-control.form__input.form__phone.form__input--phone(aria-invalid='false', placeholder='+38(___)___-__-__', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
                      i.fa.fa-phone(aria-hidden="true")
                      p.help-block.text-danger
                    .clearfix
                      .success
                .col-xs-12    
                  .text-center
                    button.btn.button.button--size.modal__btn(name='form[Выход с сайта]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить бесплатный тест-драйв приставки
                    p.modal__subtext 
                      i.fa.fa-lock(aria-hidden="true")
                      | Гарантируем полную конфиденциальность ваших данных                                                                                       