section.opportunity
  .container
    .row
      .col-xs-12
        h2.heading.opportunity__heading Ваш телевизор получит новые возможности
    .row
      .col-xs-12.col-sm-6
        .opportunity__image
          img.img-responsive(src='img/opportunity1.png' alt='картинка')
      .col-xs-12.col-sm-6
        .opportunity__content
          .opportunity__title Тысячи фильмов и сериалов в HD качестве
          .opportunity__text С помощью ТВ приставки вы сможете смотреть любые фильмы и сериалы в HD качестве. Бесплатно и без рекламы. 
    .row
      .col-xs-12.col-sm-6.opportunity__col
        .opportunity__image
          img.img-responsive(src='img/opportunity2.png' alt='картинка')
      .col-xs-12.col-sm-6
        .opportunity__content
          .opportunity__title Более 600 телеканалов без абонплаты
          .opportunity__text  Смотрите сотни телеканалов без абонплаты. Фильмы, сериалы, мультфильмы, футбол, новости, шоу и многое другое. 
      .col-xs-12.col-sm-7.col-md-5       
        button.btn.button.opportunity__button.button--size(data-toggle="modal" data-target="#opportunity__modal") Посмотреть список телеканалов      
    .row
      .col-xs-12.col-sm-6
        .opportunity__image
          img.img-responsive(src='img/opportunity3.png' alt='картинка')
      .col-xs-12.col-sm-6
        .opportunity__content
          .opportunity__title Интернет и социальные сети
          .opportunity__text Посещайте любые сайты в интернете, смотрите видео на YouTube и пользуйтесь социальными сетями.
    .row
      .col-xs-12.col-sm-6.opportunity__col
        .opportunity__image
          img.img-responsive(src='img/opportunity4.png' alt='картинка')
      .col-xs-12.col-sm-6
        .opportunity__content
          .opportunity__title Тысячи игр и приложений
          .opportunity__text Приставка дает возможность играть в игры прямо на вашем телевизоре! Просто зайдите в Google Play.           