section.part
  .container
    .row
      .col-xs-12
        h2.heading.part__heading Что входит в комплект с приставкой
    .row
      .col-xs-12.col-sm-6.col-md-3
        .element    
          .row
            .col-xs-6.col-xs-offset-3.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
              .element__image
                img.img-responsive(src='img/element1.png' alt='картинка')
            .col-xs-12      
              p.element__text Приставка ATLAS BOX PRO, с заранее установленными приложениями и настройками
              .hidden-xs.element__number 1
      .col-xs-12.col-sm-6.col-md-3
        .element    
          .row
            .col-xs-6.col-xs-offset-3.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
              .element__image
                img.img-responsive(src='img/element2.png' alt='картинка')
            .col-xs-12      
              p.element__text Пульт дистанционого управления, для использования приставки
              .hidden-xs.element__number 2
      .col-xs-12.col-sm-6.col-md-3
        .element    
          .row
            .col-xs-6.col-xs-offset-3.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
              .element__image
                img.img-responsive(src='img/element3.png' alt='картинка')
            .col-xs-12      
              p.element__text HDMI кабель для соединения приставки с телевизором
              .hidden-xs.element__number 3  
      .col-xs-12.col-sm-6.col-md-3
        .element    
          .row
            .col-xs-6.col-xs-offset-3.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
              .element__image
                img.img-responsive(src='img/element4.png' alt='картинка')
            .col-xs-12    
              p.element__text Блок питания для подключения приставки в розетку
              .hidden-xs.element__number 4              