.problem
  .container
    .row
      .col-xs-12     
        .problem__content
          .row
            .col-xs-12.col-sm-6 
              .issue
                .row
                  .col-xs-4.issue__col
                    .issue__icon
                      img.img-responsive(src='img/icons/issue1.png' alt='картинка')
                  .col-xs-8  
                    .issue__content.issue__content--right
                      h3.issue__heading Не знаете где смотреть фильмы после закрытия FS.TO?
                      p.issue__text Приставка ATLAS позволяет найти тысячи фильмов в одном приложении!
            .col-xs-12.col-sm-6 
              .issue
                .row
                  .col-xs-4
                    .issue__icon
                      img.img-responsive(src='img/icons/issue2.png' alt='картинка')
                  .col-xs-8 
                    .issue__content
                      h3.issue__heading Вам урезают список телеканалов?
                      p.issue__text С Atlas BOX PRO у вас будет более 600 каналов!
            .col-xs-12.col-sm-6 
              .issue
                .row
                  .col-xs-4.issue__col
                    .issue__icon
                      img.img-responsive(src='img/icons/issue3.png' alt='картинка')
                  .col-xs-8 
                    .issue__content.issue__content--right
                      h3.issue__heading Считаете, что ваш телевизор устарел?
                      p.issue__text Atlas BOX PRO подключает интернет к вашему телевизору и открывает сотни новых возможностей.
            .col-xs-12.col-sm-6 
              .issue
                .row
                  .col-xs-4
                    .issue__icon
                      img.img-responsive(src='img/icons/issue4.png' alt='картинка')
                  .col-xs-8  
                    .issue__content
                      h3.issue__heading Телевизор со Smart TV стоит слишком дорого?
                      p.issue__text ТВ приставка стоит в 10 раз дешевле! Вы экономите 18000 грн!