section.stats
  .container
    .row
      .col-xs-12
        h2.heading.stats__heading Цифры о компании
    .row
      .col-xs-12.col-md-10.col-md-offset-1
        .graph__content
          img.graph__image.img-responsive.visible-xs(src='img/graph.png' alt='график')
          img.graph__image.img-responsive.hidden-xs(src='img/graph1200.png' alt='график')
          .graph__point.point.point--1
            p.point__text У нас приобрели 
              span.point__text--span 5117 
              | приставок  за 
              span.point__text--span 4 
              | года работы
          .graph__point.point.point--2
            p.point__text Приставка ATLAS стоит на 
              span.point__text--span 15 000 
              | грн дешевле Smart TV
          .graph__point.point.point--3
            p.point__text Наши клиенты сэкономили более 
              span.point__text--span 750 000 
              | грн, потому что выбрали ATLAS, а не Smart TV
          .graph__point.point.point--4
            p.point__text Статистика отдела клиентской поддержки показывает, что 
              span.point__text--span 97,8%  
              | людей довольны покупкой приставки ATLAS
          .graph__point.point.point--5
            p.point__text Мы предоставляем 
              span.point__text--span 12 
              | месяцев гарантии плюс послегарантийное обслуживание на все время работы устройства     