section.video
  .container
    .row
      .col-xs-12
        h2.heading.video__heading.heading--color Посмотрите видео обзор приставки
      .col-xs-12.col-md-10.col-md-offset-1  
        .video__box
          iframe.video__iframe(src="https://www.youtube.com/embed/2gqHfZyEYmE" frameborder="0" allowfullscreen)
  .video-preview.affix
    .video-preview__content
      .video-preview__close
        i.fa.fa-times(aria-hidden="true")
      a.video-preview__link(href='.video')
        .video-preview__text
          span А вы уже видели
          br
          span видеобзор
          br
          span приставки?
        .video-preview__image   