section.work
  h2.work__subheading Atlas Box Pro
  .container
    .row
      .col-xs-12
        h2.heading.work__heading Как работает приставка?
    .row    
      .col-xs-12.work__col  
        .work__image
          img.img-responsive.work__img.work__img--320(src='img/workimg320.png' alt='приставка')
          img.img-responsive.work__img.work__img--768(src='img/workimg760.png' alt='приставка')
          img.img-responsive.work__img.work__img--1200(src='img/workimg1200.png' alt='приставка')
      .col-xs-12.col-sm-6.col-md-4.work__item      
        .work-box
          .row
            .col-xs-4
              .work-box__img
                img.img-responsive(src='img/icons/work1.png' alt='иконка')
            .col-xs-8  
              .work-box__content
                p.work-box__text ТВ-приставка 
                  span.work-box__text--span “Atlas Box Pro” 
                  | подключается к вашему телевизору через HDMI кабель
      .col-xs-12.col-sm-6.col-md-4.work__item.work__item--right     
        .work-box
          .row
            .col-xs-4.pull-right
              .work-box__img
                img.img-responsive(src='img/icons/work2.png' alt='иконка')
            .col-xs-8  
              .work-box__content
                p.work-box__text.work-box__text--right Имеет операционную систему  
                  span.work-box__text--span  на базе Android. 
      .col-xs-12.col-sm-6.col-md-4.work__item    
        .work-box
          .row
            .col-xs-4
              .work-box__img
                img.img-responsive(src='img/icons/work3.png' alt='иконка')
            .col-xs-8  
              .work-box__content
                p.work-box__text Приставка ATLAS
                  span.work-box__text--span  совместима с любыми телевизорами
      .col-xs-12.col-sm-6.col-md-4.work__item.work__item--right      
        .work-box
          .row
            .col-xs-4.pull-right
              .work-box__img
                img.img-responsive(src='img/icons/work4.png' alt='иконка')
            .col-xs-8  
              .work-box__content
                p.work-box__text.work-box__text--right Своими функциями она полностью
                  span.work-box__text--span  заменяет Smart TV                           