+comment('general style')
a
  &:hover,
  &:focus
    text-decoration: none
.help-block
  padding: 0
  margin: 0    
.button
  display: block
  margin: 0 auto
  font: 700 11px/16px $font-helvetica-bold
  padding: 17px 20px
  text-transform: uppercase
  color: #fff
  background-image: linear-gradient(to top, #56c5ae 0%, #61ddd6 100%)
  border-radius: 25px
  box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.3) 
  border: 0  
  &:hover
    background-image: linear-gradient(to top, #1bb192 0%, #2ad1c7 100%)
    box-shadow: 1.5px 2.6px 7px rgba(0, 0, 0, 0.16)
    color: #fff  
  &--size
    width: 100%  
+r(768)   
  .button 
    font: 700 18px/20px $font-helvetica-bold
.heading
  font: 700 18px/24px $font-helvetica-bold
  color: #383a47   
  text-align: center
  text-transform: uppercase 
  margin: 0
  &--color
    color: #fff
+r(768)      
  .heading  
    font: 700 24px/28px $font-helvetica-bold
+r(992)      
  .heading  
    font: 700 28px/30px $font-helvetica-bold 
.form
  &__input
    padding: 22px 20px 20px 45px
    color: rgba(30,22,15,0.5)
    font: 400 18px/20px $font-helvetica-medium
    background-color: #fff
    border: 0    
    &:focus
      color: rgba(30,22,15,1)
      & ~ .fa
        color: rgba(30,22,15,1)
  &-group
    position: relative
    .fa
      position: absolute
      left: 30px
      top: 23px      
      color: rgba(30,22,15,0.5)
      font-size: 18px
+comment("home page style")
+comment("nav style")
.navbar
  padding-top: 30px
  &__button
    font: 700 14px/16px $font-helvetica-bold
.logo
  text-align: center
  margin-bottom: 30px
  &__img
    display: inline-block
    margin: 5px 5px 10px 0
  &__text
    display: inline-block  
    vertical-align: top
    font: 400 13px/16px $font-helvetica-medium
    color: #000
    text-align: left
.phone
  text-align: center
  margin-bottom: 25px
  &__link
    font: 400 17px/18px $font-helvetica-medium
    color: #010101
  .fa
    margin-right: 10px    
+r(768)
  .navbar
    &__col
      float: right
  .logo
    text-align: left
    margin-bottom: 15px
    &__img
      margin: 0 30px 0 0
  .navbar
    padding-top: 20px   
  .logo
    &__img
      margin-right: 30px   
    &__text   
      font: 400 16px/20px $font-helvetica-medium 
  .phone
    margin-top: 20px
    text-align: left
    &__link
      font: 400 20px/21px $font-helvetica-medium
+comment("header style")      
.header
  padding: 100px 0 30px
  background: url(../img/headerbg320.png) no-repeat
  background-size: cover
  background-position: left top
  &__text
    font: 400 16px/24px $font-helvetica-medium 
    text-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.21)
    color: #fff
    margin-bottom: 45px
    &--span
      display: inline
      font: 700 16px/24px $font-helvetica-bold
      margin: 0
  &__col
    text-align: center  
  &__image
    position: relative
    top: 50px
    margin-left: -25px     
+r(768)
  .header
    padding: 65px 0 50px 
    background: url(../img/headerbg.png) no-repeat
    background-size: cover
    background-position: 57% top
    &__col
      text-align: left
    &__text
      font: 400 20px/48px $font-helvetica-medium
      margin-bottom: 60px
      &--span
        font: 700 20px/48px $font-helvetica-bold
    &__image
      top: 130px
      left: 50px    
+r(992)  
  .header
    padding: 100px 0 30px 
    background-position: 50% top
    &__text
      font: 400 30px/48px $font-helvetica-medium
      &--span
        font: 700 30px/48px $font-helvetica-bold  
    &__image
      top: 180px
      left: 0    
+comment("work style") 
.work
  position: relative
  padding: 50px 0 
  &__heading
    margin-bottom: 120px
  &__subheading
    position: absolute
    top: 120px
    width: 100%
    margin: 0
    text-align: center
    +opacity(0.6)
    color: #dfdfdf    
    font: 700 44px/50px $font-helvetica-bold  
  &__image
    text-align: center
    margin-bottom: 45px
  &__img
    display: none
    visibility: hidden
    &--320
      display: inline-block
      visibility: visible
  &-box
    border-bottom: 2px solid #4ac3b8
    margin-bottom: 20px
    padding: 15px 0
    &__img
      text-align: center
      margin: 0 auto
      max-width: 66px
      img
        display: inline-block
    &__content
      line-height: 62px
      font-size: 0   
    &__text
      display: inline-block
      vertical-align: middle
      font: 700 12px/14px $font-helvetica-bold 
      color: #000    
      margin-bottom: 0  
      &--span
        color: #4ec5bb 
      &--right
        text-align: right     
+r(768) 
  .work
    &__heading
      margin-bottom: 45px
    &__subheading
      font: 700 100px/110px $font-helvetica-bold  
      top: 120px
    &__image
      margin-bottom: 55px  
    &__img
      display: none
      visibility: hidden 
      &--768
        display: inline-block
        visibility: visible
    &__item
      padding-right: 30px
      &--right
        padding-left: 30px
        padding-right: 15px    
    &-box
      margin-bottom: 55px
      &__img
        max-width: 80px
      &__content
        line-height: 74px      
+r(992)  
  .work
    &__col
      position: relative
    &__heading
      margin-bottom: 60px
    &__subheading
      font: 700 150px/160px $font-helvetica-bold   
      top: 90px
    &__image
      margin-bottom: 0
      position: absolute
      left: 50%
      margin-left: -229px  
    &__img
      display: none
      visibility: hidden 
      &--1200
        display: inline-block
        visibility: visible    
    &__item
      margin: 1px
      &--right
        float: right   
    &-box
      padding: 30px 0 20px
      margin-bottom: 150px      
+r(1200)   
  .work
    &__subheading
      font: 700 180px/190px $font-helvetica-bold         
+comment("opportunity style")    
.opportunity
  &__heading
    margin-bottom: 60px
  &__image
    text-align: center
    margin-bottom: 30px
    img
      display: inline-block
  &__title
    font: 700 16px/20px $font-helvetica-bold  
    color: #000   
    margin-bottom: 20px
  &__text 
    font: 400 16px/20px $font-helvetica-medium
    color: #000     
    margin-bottom: 60px
  &__button
    margin-bottom: 50px  
+r(768)  
  .opportunity 
    background: url(../img/opportunitybg.png) no-repeat
    background-size: cover
    background-position: 50% 100%
    padding: 0 0 50px 
    &__col
      float: right
    &__title
      font: 700 20px/30px $font-helvetica-bold 
      margin-bottom: 35px
    &__text
      font: 400 20px/30px $font-helvetica-medium  
    &__button
      margin-bottom: 80px     
+r(992)  
  .opportunity
    padding-top: 50px
    &__title
      font: 700 24px/30px $font-helvetica-bold 
      margin-bottom: 25px
    &__text
      font: 400 22px/30px $font-helvetica-medium 
+comment("service style") 
.service
  padding: 65px 0 30px
  background: url(../img/servicebg320.png) no-repeat
  background-size: cover   
  background-position: center center
  margin-top: -10px
  &__heading
    margin-bottom: 25px 
  &__img
    margin-bottom: 30px
  &__text
    font: 400 16px/20px $font-helvetica-light
    color: #fff 
    margin-bottom: 40px 
  &__subtext
    font: 400 11px/16px $font-helvetica-medium  
    color: #fff
    margin-top: 20px
+r(768)
  .service  
    background: url(../img/servicebg1200.png) no-repeat 
    background-size: cover   
    background-position: center center
    &__heading
      margin-bottom: 40px
    &__text
      font: 400 20px/24px $font-helvetica-light
    &__subtext
      font: 400 14px/18px $font-helvetica-medium     
+r(992)      
  .service
    margin-top: -20px
    &__text
      font: 400 29px/32px $font-helvetica-light
+r(1200)  
  .service
    margin-top: -40px   
+r(1366)        
  .service
    margin-top: -52px
+comment("problem style")     
.problem
  padding: 25px 0 65px
  background: url(../img/problembg.png) no-repeat
  background-size: cover
  &__img
    text-align: left
    margin-bottom: 30px
    img
      display: inline-block
  &__content
    background-color: rgba(255,255,255,0.77)
    box-shadow: 2.5px 4.3px 7px rgba(0, 0, 0, 0.26)
    padding: 30px 0 10px
.issue
  padding: 20px 15px 
  &__content
    &--right
      text-align: right
  &__heading
    font: 700 12px/24px $font-helvetica
    margin: 0 0 10px
    color: #000   
    text-transform: uppercase
  &__text
    font: 400 12px/24px $font-helvetica-medium
    margin: 0
    color: #000   
  &__icon
    text-align: center
    margin-right: -25px
    img
      display: inline-block  
+r(768)  
  .problem
    &__img
      text-align: center     
    &__content
      position: relative
      &:before
        content: ''
        position: absolute
        top: 0
        left: 50%
        height: 100%
        width: 2px
        margin-left: -1px
        background-color: rgba(56,58,71,0.21)   
  .issue
    &__col
      float: right   
    &__icon
      margin: 0 -5px   
    &__heading
      font: 700 16px/36px $font-helvetica 
    &__text   
      font: 400 16px/30px $font-helvetica-medium
+r(992)     
  .issue 
    &__heading
      font: 700 18px/36px $font-helvetica 
    &__text   
      font: 400 20px/30px $font-helvetica-medium  
+comment("console slider style")  
.console
  padding: 50px 0
  &-slider
    border: 1px solid #d7d7d7
    margin-bottom: 40px
    &__item
      position: relative
    &__link
      display: block
      padding: 40px 15px 10px
      text-align: center
      &:hover
        .console-slider__zoom
          color: #20bba3
      img
        display: inline-block  
    &__zoom
      position: absolute
      top: 25px
      right: 25px    
      font-size: 28px
      cursor: pointer
      color: #000
    &-preview
      &__item
        text-align: center
        padding: 5px 15px
        cursor: pointer
        img
          display: inline-block   
      .slick
        &-current
          img
            box-shadow: 0px 0px 0px 2px rgba(70,70,70,1)
        &-arrow
          width: 16px
          height: 22px
          &:before      
            display: inline-block
            font-family: 'FontAwesome'  
            color: #2e303e
            font-size: 22px
          &:hover  
            &:before
              color: #111217
        &-prev
          &:before
            content: '\f053' 
        &-next
          &:before
            content: '\f054' 
.fancybox
  &-prev
    left: -15px
    bottom: -15px
    top: auto
  &-next
    right: -15px
    bottom: -15px 
    top: auto 
+r(1200)  
  .console
    &__col
      float: right
  .fancybox
    &-prev
      left: -65px
      bottom: auto
      top: 50%
      margin-top: -25px
    &-next
      right: -65px
      bottom: auto
      top: 50% 
      margin-top: -25px 
+comment("characteristic style") 
.characteristic 
  &__heading
    margin: 0 0 35px
    font: 400 18px/24px $font-helvetica-medium
    color: #000
    &--span
      font: 700 18px/24px $font-helvetica
      color: #20bba3
  &__price    
    font: 700 18px/24px $font-helvetica
    color: #000
    margin-bottom: 30px
.table
  &__heading
    font: 400 18px/24px $font-helvetica-medium
    text-transform: uppercase
    color: #5f5f5f
    margin-bottom: 10px
    .fa
      font-size: 20px
      margin-right: 10px 
  &__row
    border-bottom: 1px solid rgba(0,0,0,0.3)
    padding: 8px 0 10px 
    &--1
      border-top: 1px solid rgba(0,0,0,0.3)
  &__text
    font: 400 17px/20px $font-helvetica-medium
    color: #000   
    margin: 0  
  &__link  
    font: 400 16px/20px $font-helvetica-medium
    color: #5f5f5f
    text-decoration: underline
    &:hover,
    &:focus
      color: #20bba3
      text-decoration: underline
      text-decoration-color: #20bba3 !important
  &__btn
    margin: 20px 0   
.way
  &__icon
    display: block
    margin: 10px auto 0
    width: 48px
    height: 35px
    background: url(../img/icons/car.png) no-repeat
    background-size: contain  
  &__text  
    font: 400 13px/18px $font-helvetica-medium
    color: #000
    margin: 0
+r(768)
  .way
    &__text  
      font: 400 18px/24px $font-helvetica-medium 
+comment("question style")      
.question
  padding: 50px 0
  background: url(../img/questionbg.png) no-repeat      
  background-size: cover   
  background-position: center center
  margin-top: -10px
  &__heading
    margin-bottom: 50px
  &__text  
    font: 400 16px/20px $font-helvetica-light
    color: #fff 
    margin-bottom: 25px
  &__subtext  
    font: 400 16px/20px $font-helvetica-medium
    color: #fff 
    margin-bottom: 30px
+r(768)
  .question
    &__text   
      font: 400 26px/32px $font-helvetica-light 
    &__subtext  
      font: 400 20px/24px $font-helvetica-medium
    &__btn
      padding: 21px 20px  
+r(992)
  .question
    &__text   
      font: 400 30px/36px $font-helvetica-light  
    &__subtext  
      font: 400 24px/28px $font-helvetica-medium      
