extends base/_layout.pug
block variables
  - var title = 'Ваша заявка принята'

block styles

block scripts

block content
  div.success
    nav.navbar.success__navbar
      div.container
        .row
          .col-xs-12.col-sm-8.col-md-6
            .logo
              a.logo__img(href='#')
                img.img-responsive.visible-xs(src='img/logo/logo320.png' alt='logo')
                img.img-responsive.hidden-xs(src='img/logo/logo.png' alt='logo')
              .logo__text Магазин умных приставок
                br 
                | для телевизоров  

    .oto  
      .container
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1
            p.oto__heading Статья “17 возможностей приставок ATLAS” придет тебе в течении нескольких минут. Посмотри видео, чтобы узнать какой подарок мы для тебя подготовили  
        .row
          .col-xs-12.col-md-7.col-md-offset-0.col-lg-6
            .oto__video
              iframe.oto__iframe(src="https://www.youtube.com/embed/2gqHfZyEYmE?autoplay=1" frameborder="0" allowfullscreen)  
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-5.col-md-offset-0.col-lg-6
            .modal-content.modal__content.oto__modal
              .modal__head
                p.modal__text.oto__text
                  | Заполните форму, чтобы сэкономить 450 грн и получить бесплатную доставку, установку и настройку приставки у вас дома!
              form.contactForm.modal__form(method='post', action='./mail/mail.php')
                .row
                  .col-xs-12
                    .row
                      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-12.col-md-offset-0
                        .row
                          .form-group.col-xs-12
                            input.form-control.form__input.form__name(aria-invalid='false', placeholder='Введите ваш email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='email')
                            i.fa.fa-envelope(aria-hidden="true")
                            p.help-block.text-danger
                          .clearfix
                            .success
                      .col-xs-12
                        .text-center
                          button.btn.button.button--size.oto__btn(name='form[ОТО страница]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Воспользоваться предложением и сэкономить 450 грн
                          p.modal__subtext.oto__text
                            i.fa.fa-lock(aria-hidden='true')
                            | Гарантируем полную конфиденциальность ваших данных
      