extends base/_layout.pug
block variables
  - var title = 'Ваша заявка принята'

block styles

block scripts

block content
  article.success
    include components/_nav.pug
    include partials/_success.pug
    
